<!DOCTYPE html>
<html Lang="pt-br">
<head> 
      <meta name="Description" content="Sistema de cadastro de clientes">
      <meta name="keywords" content="Cadastro, clientes">
      <title> Cadastro de clientes </title>
</head>
<body>
      <h1> cadastrar clientes </h1>
      
      {% with messagens = get_flashed_messages(with_categories=true) %}
          {% for cat, message in messagens %}
                 <div class="{{ cat }}">
                     <h1>{{ message }}</h1>
                 </div>
          {% endfor %}
      {% endwith %}
      
      <form action="/login" method="POST">
          {{ form.hidden_tag() }}
           
           <div>
               {{ form.nome.label() }}
               {{ form.nome() }} <br>
               {% if form.nome.errors %}
               
                   {% for erro in form.nome.errors %}
                      <h1> {{ erro }} </h1>
                   {% endfor %}
                   
               {% endif %}
               
           </div>
           <div>
               {{ form.email.label() }}
               {{ form.email() }} <br>
               {% if form.email.errors %}
               
                  {% for erro in form.email.errors %}
                     <h1> {{ erro }} </h1>
                  {% endfor %}
                  
               {% endif %}
               
           </div>           
           <div>
               {{ form.senha.label() }}
               {{ form.senha() }} <br>
               
               {% if form.senha.errors %}
                
                   {% for erro in form.senha.errors %}
                      <span> {{ erro }} </span>
                   {% endfor %}
               {% endif %}
           </div>
           <div>
               {{ form.confirm.label() }}
               {{ form.confirm() }} <br>
               
               {% if form.confirm.erros %}
               
                  {% for erro in form.confirm.erros %}
                     <span> {{ erro }} </span>
                  {% endfor %}
                  
               {% endif %}
           </div>
           {{ form.enviar() }}
           
           
      </form>
</body>
</html>
